@import "variables";

@mixin d-flex {
    display: flex;
}

@mixin d-flex--sp-bt {
    @include d-flex;
    justify-content: space-between;
    align-items: center;
}

@mixin margin-40px {
    margin: $p-40;
}

@mixin main-gradient {
    background: rgb(87,5,115);
    background: -moz-linear-gradient(-180deg, rgba(87,5,115,1) 0%, rgba(151,16,104,1) 50%, rgba(220,1,12,1) 100%);
    background: -webkit-linear-gradient(-180deg, rgba(87,5,115,1) 0%, rgba(151,16,104,1) 50%, rgba(220,1,12,1) 100%);
    background: linear-gradient(-180deg, rgba(87,5,115,1) 0%, rgba(151,16,104,1) 50%, rgba(220,1,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#570573",endColorstr="#dc010c",GradientType=1);
}

@mixin bg-props--contain {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}