// COLORS
/* Main Colors */
$ultra-blue: #200749;
$white: #ffffff;
$sharp-green: #5fce20;

/* Fonts */
$primary-font: Lato, sans-serif;
$secondary-font: Inter, sans-serif;

/* Spacings */
$p-40: 40px;
