@import "variables";
@import "mixins";
@import "header";

/* html set font equivalence for rems and ems */
html { font-size: 62.5%; }

body {
    height: 100vh;
    background-color: $white;

    .social-bar {
        position: fixed;
        bottom: 0;
        left: 10px;
    }
}