@import "variables";
@import "mixins";
@import "header";

/* html set font equivalence for rems and ems */
html { font-size: 62.5%; }

body {
    height: 100vh;
    background-color: $white;
}
.container {
    font-size: 1.4rem;
    @include margin-40px;
} 